%table.table#admin_dash
  %tbody
    %tr
      %td
        %div.admin= link_to 'Manage Users', users_path
      %td
        %div.admin= link_to 'Manage Students', students_path
    %tr
      %td
        %div.admin= link_to 'Manage Tutors', tutors_path
      %td
        %div.admin= link_to 'Manage requirements', requirements_path
    %tr
