%table.table#students
  %thead
    %tr
      %th{:class => @name_header}= link_to 'Name', users_path(:sort => 'name'), :id => 'name_header'
      %th Email
  %tbody
    - @students.each do |student|
      %tr
        %td= student.name 
        %td= student.email
