=simple_form_for @requirement, :html => {:class => "form-horizontal"} do |f|
  =f.input :grade, :as => "hidden"
  =f.input :hours, :collection => (1..9), :required => true, :prompt => "New weekly requirement"
  =f.button :submit, "Update", :class => "btn btn-primary"

