%img{:src => "logo.jpg"}
%br
%br
%br

%h2 About Y-Scholars
%p The Y-Scholars Program is a free college preparatory afterschool program that works with first-generation college-bound students in grades 9-12, preparing them to pursue higher education through career exploration and academic achievement. Services include: weekly workshops covering topics ranging from study skills to college exploration, mentoring, after-school tutoring, SAT preparatory classes, college tours, social events, and much more. In addition, all 12th grade participants receive weekly individual advising on exploring college majors and potential careers, and completing college and financial assistance applications. Applications are required and accepted on a rolling basis.

%br
%br

%h2 Access your Account
=button_to "Login", login_path, :class => "btn btn-primary"
